<li class="dropdown">
  <a class="btn btn-default dropdown-toggle {{#if options.size}}btn-{{options.size}}{{/if}}" data-toggle="dropdown">
    <span class="glyphicon glyphicon-font"></span>
    <span class="current-font">{{locale.font_styles.normal}}</span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" tabindex="-1">{{locale.font_styles.normal}}</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1">{{locale.font_styles.h1}}</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1">{{locale.font_styles.h2}}</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1">{{locale.font_styles.h3}}</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1">{{locale.font_styles.h4}}</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1">{{locale.font_styles.h5}}</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1">{{locale.font_styles.h6}}</a></li>
  </ul>
</li>
