<li>
  <div class="bootstrap-wysihtml5-insert-image-modal modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>{{locale.image.insert}}</h3>
        </div>
        <div class="modal-body">
          <input value="http://" class="bootstrap-wysihtml5-insert-image-url form-control">
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">{{locale.image.cancel}}</a>
          <a class="btn btn-primary" data-dismiss="modal">{{locale.image.insert}}</a>
        </div>
      </div>
    </div>
  </div>
  <a class="btn {{#if options.size}}btn-{{options.size}}{{/if}} btn-default" data-wysihtml5-command="insertImage" title="{{locale.image.insert}}" tabindex="-1">
    <span class="glyphicon glyphicon-picture"></span>
  </a>
</li>
