<li>
  <div class="bootstrap-wysihtml5-insert-link-modal modal fade" data-wysihtml5-dialog="createLink">
    <div class="modal-dialog {{#if options.toolbar.smallmodals}}modal-sm{{/if}}">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>{{locale.link.insert}}</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input value="http://" class="bootstrap-wysihtml5-insert-link-url form-control" data-wysihtml5-dialog-field="href">
          </div> 
          <div class="checkbox">
            <label> 
              <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked>{{locale.link.target}}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">{{locale.link.cancel}}</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save">{{locale.link.insert}}</a>
        </div>
      </div>
    </div>
  </div>
  <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="createLink" title="{{locale.link.insert}}" tabindex="-1">
    {{#if options.toolbar.fa}}
      <span class="fa fa-share-square-o"></span>
    {{else}}
      <span class="glyphicon glyphicon-share"></span>
    {{/if}}
  </a>
</li>
