<li>
  <div class="bootstrap-wysihtml5-insert-link-modal modal fade">
    <div class="modal-dialog {{#if options.smallmodals}}modal-sm{{/if}}">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>{{locale.link.insert}}</h3>
        </div>
        <div class="modal-body">
          <input value="http://" class="bootstrap-wysihtml5-insert-link-url form-control">
          <label class="checkbox"> <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked>{{locale.link.target}}</label>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">{{locale.link.cancel}}</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal">{{locale.link.insert}}</a>
        </div>
      </div>
    </div>
  </div>
  <a class="btn {{#if options.size}}btn-{{options.size}}{{/if}} btn-default" data-wysihtml5-command="createLink" title="{{locale.link.insert}}" tabindex="-1">
    <span class="glyphicon glyphicon-share"></span>
  </a>
</li>
