<li>
  <div class="btn-group">
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="insertUnorderedList" title="{{locale.lists.unordered}}" tabindex="-1">
    {{#if options.toolbar.fa}}
      <span class="fa fa-list-ul"></span>
    {{else}}
      <span class="glyphicon glyphicon-list"></span>
    {{/if}}
    </a>
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="insertOrderedList" title="{{locale.lists.ordered}}" tabindex="-1">
    {{#if options.toolbar.fa}}
      <span class="fa fa-list-ol"></span>
    {{else}}
      <span class="glyphicon glyphicon-th-list"></span>
    {{/if}}
    </a>
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="Outdent" title="{{locale.lists.outdent}}" tabindex="-1">
    {{#if options.toolbar.fa}}
      <span class="fa fa-outdent"></span>
    {{else}}
      <span class="glyphicon glyphicon-indent-right"></span>
    {{/if}}
    </a>
    <a class="btn {{#if options.toolbar.size}}btn-{{options.toolbar.size}}{{/if}} btn-default" data-wysihtml5-command="Indent" title="{{locale.lists.indent}}" tabindex="-1">
    {{#if options.toolbar.fa}}
      <span class="fa fa-indent"></span>
    {{else}}
      <span class="glyphicon glyphicon-indent-left"></span>
    {{/if}}
    </a>
  </div>
</li>
